
.current-phase {
  display: flex;
  gap: 1.1rem;
  flex-wrap: wrap;
}

.phase-card {
  flex: 1;
  min-width: 250px;
  background-color: #3f0f78;
  border-radius: 8px;
  padding: 1.25rem;
  border-left: 4px solid var(--primary-color);
}

.phase-card.next {
  border-left-color: var(--secondary-color);
  opacity: 0.8;
}

.phase-card h4 {
  color: var(--text-color);
  margin-bottom: 1rem;
}

.phase-intensity {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.intensity-bar {
  height: 8px;
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );
  border-radius: 4px;
  margin-right: 0.5rem;
}
